.front-building {
  border: 2px solid brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 70vh;
  position: absolute;
  bottom: 18%;
}
.american-flag {
  border: 1px solid blue;
  flex: 0 1 18%;
  width: 20%;
  position: relative;
  bottom: 6%;
}
.top-triangle {
  flex: 0 1 15%;
  width: 0px;
  height: 0px;
  border-bottom: solid 130px #e7e9db;
  border-right: solid 200px transparent;
  border-left: solid 200px transparent;
  border-top: solid 130px transparent;
  position: relative;
  bottom: 51%;
  z-index: 1;
}

.top-columns {
  background: #e7e9db;
  border-top: 10px solid #d0d2c7;
  flex: 0 1 5%;
  width: 100%;
  position: relative;
  bottom: 51%;
  z-index: 1;
}
.columns-container {
  border: 1px solid green;
  position: absolute;
  bottom: 0;
  height: 38vh;
  width: 20vw;
  z-index: 1;
}
