/* FRONT BUILDING CONTAINER */
.front-building {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 64%;
  position: absolute;
  bottom: 18%;
}

/* AMERICAN FLAG */
.american-flag {
  width: 20%;
  height: 19%;
  position: absolute;
  bottom: 86%;
  right: 31%;
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

.white-pillar {
  flex: 0 1 8%;
  height: 100%;
  background: #e7e9db;
}

.flag {
  flex: 0 1 90%;
  height: 43%;
  display: flex;
  flex-wrap: wrap;
}

.blue-box {
  width: 42%;
  height: 23%;
  position: absolute;
  bottom: 77%;
  right: 50%;
  z-index: 2;
  background: blue;
}

.stripes {
  flex: 0 1 100%;
  height: 9%;
}

.red-stripe {
  background: red;
}

.white-stripe {
  background: white;
}

/* TOP TRIANGLE */
.top-triangle {
  flex: 0 1 25%;
  width: 0px;
  height: 0px;
  border-bottom: solid 130px #e7e9db;
  border-right: solid 200px transparent;
  border-left: solid 200px transparent;
  border-top: solid 130px transparent;
  position: relative;
  bottom: 45%;
  z-index: 2;
}

/* TOP COLUMNS */
.top-columns {
  background: #e7e9db;
  border-top: 10px solid #cbccc4;
  flex: 0 1 7%;
  width: 100%;
  position: relative;
  bottom: 45.5%;
  z-index: 1;
}

/* COLUMNS */

.columns-container {
  position: absolute;
  top: 48%;
  height: 61%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.circle-container {
  position: absolute;
  right: 5%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  width: 23.5vw;
}

.column {
  flex: 0 1 8%;
  height: 100%;
  display: flex;
  z-index: 3;
}

.circle-column {
  background: #cbccc4;
  flex: 0 1 4%;
  height: 13px;
  margin-left: 1%;
  border-radius: 50%;
  position: relative;
  bottom: 10%;
  z-index: 4;
}

.circle-column1 {
  left: 12%;
}

.circle-column2 {
  left: 6%;
}

.circle-column3 {
  left: 12%;
}

.circle-column4 {
  left: 6%;
}

.circle-column5 {
  left: 12%;
}

.circle-column6 {
  left: 6%;
}

.circle-column7 {
  left: 12%;
}

.circle-column8 {
  left: 6%;
}

.corpse-column {
  background: #d0d2c7;
  flex: 0 1 90%;
  height: 100%;
}
