.main-building {
  border: 2px solid orange;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65vw;
}
/* TOP BLOCK */
.top-building-block {
  border: 1px solid red;
  flex: 0 1 10%;
  width: 62vw;
}

/* BOTTOM BLOCK */
.bottom-building-block {
  border: 1px solid yellow;
  flex: 0 1 10%;
  width: 65vw;
}
/* CENTRAL BUILDING */
.central-building {
  flex: 0 1 40%;
  width: 60vw;
  background-color: #dadcd1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid grey;
}

.left-window-block,
.middle-window-block,
.right-window-block {
  border: 1px solid black;
  flex: 0 1 30%;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.window {
  flex: 0 1 5%;
  height: 15vh;
  border: 1px solid red;
}

.triangle {
  width: 0px;
  height: 0px;
  border-bottom: solid 30px #6f6f6f;
  border-right: solid 30px #6f6f6f;
  border-left: solid 30px #7b7b7b;
  border-top: solid 30px #7b7b7b;
}
