/* TOP BLOCK */
.top-building-block {
    border: 1px solid yellow;
    flex: 0 1 63%;
    height: 1vh;
}

/* BOTTOM BLOCK */
.bottom-building-block {
    border: 1px solid yellow;
    margin: 0 auto;
    flex: 0 1 63%;
    width: 52vw;
    position: relative;
    top: 35vh;
}
/* MAIN BUILDING */
.main-building {
    flex: 0 1 60%;
    width: 50vw;
    margin: 35vh auto;
    background-color:  #dadcd1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid grey;
}

.left-window-block, .middle-window-block, .right-window-block {
    border: 1px solid black;
    flex: 0 1 30%;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}

.window {
    flex: 0 1 5%;
    height: 15vh;
    border:1px solid red;
}

.triangle {
width: 0px;
  height: 0px;
  border-bottom: solid 30px #6f6f6f;
  border-right: solid 30px #6f6f6f;
  border-left: solid 30px #7b7b7b;
  border-top: solid 30px #7b7b7b;
}